@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Andika New Basic', sans-serif;
}

.main-body {
	width: 100%;
	height: 100vh;
}

.sidebar {
	width: 250px;
	height: 100vh;
	background-color: #E6E9EC;
	position: fixed;
	float: left;
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
	transition: margin 0.5s;
	text-align: justify;
}

.resizer {
	position: absolute;
	top: 0;
	right: 0;
	width: 3px;
	height: 100vh;
	background: transparent;
	cursor: e-resize;
}

.body {
	padding: 8px;
	height: calc(100% - 80px);
	overflow: scroll;
	scrollbar-color: rgb(151, 156, 151) transparent;
	scrollbar-width: thin;
}

.body::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background: transparent;
}

.body::-webkit-scrollbar-thumb {
	background: rgb(151, 156, 151);
}

.collapse-icon {
	position: absolute;
	top: 50%;
	right: -12px;
	width: 12px;
	height: 35px;
	background: #E6E9EC;
	transform: translate(0, -50%);
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	cursor: pointer;
}

.collapse-icon svg {
	width: 11px;
	height: 11px;
	transition: rotate 1s;
}

.page-content {
	float: left;
	text-align: justify;
}

.header {
	width: 100%;
	height: 35px;
	background-color: rgb(0, 98, 128);
}

.footer {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: rgb(0, 98, 128);
	bottom: 0;
}

.footer-content {
	height: 100%;
	position: relative;
}

.publish {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.publish button {
	padding: 6px 16px;
	background: #39b54a;
	color: white;
	border: 0;
	border-radius: 5px;
	font-size: 10px;
}

.widget_list {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 10px;
}

.widget {
	height: 84px;
	background: white;
	position: relative;
	border-radius: 5px;
	cursor: move;
}

.widget:hover {
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}

.widget .brand-icon {
	position: absolute;
	right: 8px;
	top: 8px;
	color: rgb(204, 207, 204);
	font-size: 15px;
}

.widget .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 35px;
	transform: translate(-50%, -60%);
	color: #556068;
}

.widget .title {
	position: absolute;
	bottom: 8px;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	font-size: 10px;
	color: #556068;
}